# === Firebase Config ===
VITE_APIKEY=your_firebase_api_key_here
VITE_AUTHDOMAIN=your_project.firebaseapp.com
VITE_PROJECTID=your_project_id
VITE_STORAGEBUCKET=your_project.firebasestorage.app
VITE_MESSAGINGSENDERID=your_messaging_sender_id
VITE_APPID=your_app_id

# === Backend API URL ===
VITE_API_BASE_URL=https://your-server-url.vercel.app
#VITE_API_BASE_URL=http://localhost:5000

# === Image Upload Service ===
VITE_IMGBB_KEY=your_imgbb_api_key_here

# === Admin Configuration ===
VITE_ADMIN_EMAIL=admin@yourdomain.com